<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.sai.GirlsTalk">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="com.example.sai.girlstalk.activities.SearchActivity">

        </activity>
        <activity android:name="com.example.sai.girlstalk.activities.TollFree"
            android:label="Emergency Numbers"/>
        <activity android:name="com.example.sai.girlstalk.activities.Splash" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.sai.girlstalk.chatbot.Chatbot" />
        <activity
            android:name="com.example.sai.girlstalk.activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >

        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name="com.example.sai.girlstalk.activities.OTP">
        </activity>
        <activity android:name="com.example.sai.girlstalk.activities.Register1" />
        <activity android:name="com.example.sai.girlstalk.activities.Register2" />
        <activity android:name="com.example.sai.girlstalk.activities.LoginActivity" />
        <activity android:name="com.example.sai.girlstalk.activities.GroupChatActivity" />
        <activity android:name="com.example.sai.girlstalk.activities.NewsDetails"></activity>
        <activity android:name="com.example.sai.girlstalk.activities.ExecuteRSS"></activity>
        <activity android:name="com.example.sai.girlstalk.activities.MainGroupChat"/>
        <activity
            android:name="com.example.sai.girlstalk.activities.Profile"
            android:label="My Profile" />

    </application>

</manifest>